* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2D7DA;
    color: #111;
}

.page-title {
    color: #E60012;
    white-space: nowrap;
}

.page-wrapper {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.profile-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 50px white;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item-title {
    font-size: 20px;
    color: #0068B7;
    border-bottom: 3px solid white;
    display: inline;
}

.footer {
    font-size: small;
    text-align: center;
    padding-bottom: 50px;
    color: #444;
}